name: Generate Neon Snake Graph

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Neon Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: zaka41a
          outputs: |
            dist/neon/github-contribution-grid-snake.svg
          palette: |
            #00eaff
            #14f1ff
            #38bdf8
            #7dd3fc
            #a5f3fc
            #c084fc

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
